@keyframes fadeIn {
    from  {opacity: 0;}
    to  {opacity: 1;}
}

@media (max-width : 991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active
    {
        position: fixed;
        left: 0;
        top: 92px;
        width: 100%;
        height: calc(100% - 92px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        animation: fadeIn 0.5s ease;
    }

    header .navigation li{
       margin: 10px 0px;
    }

    header .navigation li a{
        font-size: 1.4em;
        color: #111;
    }

    header .menuToggle{
        position: relative;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-image: url(/images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header .menuToggle.active{
        background-size: 25px;
        background-image: url(/images/close.png);
    }

    header.sticky .menuToggle{
        filter: invert(1);
    }

    section{
        padding: 20px;
    }

    .about .titleText{
        text-align: center;
    }

    .container{
        max-width: 100%;
    }

    .wrapBox .text p {
        font-size: 1.3em;
    }



    
}